@use 'partials/minireset.css';
@use 'partials/theme' with (

  $col-primary-lighter: hsl(0, 100%, 82%),
  $col-primary: hsl(0, 100%, 68%),
  $col-primary-darker: hsl(0, 100%, 37%),
  $col-selection: hsla(0, 100%, 68%, 0.3),
  $col-table-border: hsl(0, 100%, 72%)

);
@use 'partials/generic';
@use 'partials/helpers';
@use 'partials/document';
@use 'partials/print';