// Colors
// =============================================================================

$-red:hsl(0, 100%, 68%);
$-yellow: hsl(45, 100%, 50%);
$-green: hsl(147, 100%, 42%);
$-lightblue: hsl(200, 100%, 63%);
$-blue: hsl(219, 100%, 58%);
$-purple: hsl(273, 98%, 59%);
$-pink: hsl(303, 100%, 74%);


$col-text: black !default;

$col-primary-lighter: hsl(200, 100%, 85%) !default;
$col-primary: hsl(200, 100%, 63%) !default;
$col-primary-darker: hsl(200, 100%, 41%) !default;
$col-selection: hsla(200, 100%, 63%, 0.3) !default;
$col-table-border: hsl(200, 100%, 72%) !default;

$col-secondary: $-purple !default;
$col-code: hsl(332, 100%, 60%) !default;

$col-link: $-blue !default;
$col-visited: $-purple !default;

$col-success: $-green !default;
$col-warning: $-yellow !default;
$col-danger: $-red !default;

$col-mark: hsla(60, 100%, 50%, 0.4) !default;

// Typography
// =============================================================================

// Feel free to change the fonts I use to other fonts you like!
// This is just an example that I personally find cute.
// 
// "Modern Love" is my preferred font for titles, which is supplied with
// Microsoft Office products. However, I don't think I have a license to
// distribute it through this repository.
//
// A possible alternative available as a webfont for titling is Amatic SC.
//
// https://docs.microsoft.com/en-us/typography/font-list/modern-love

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

$base-font-family: 'Short Stack', cursive;
$screen-font-size: 14px;
$print-font-size: 9pt;

$mono-font-family: 'Consolas', 'Courier New', courier, monospace, monospace;
$mono-font-size: 100%;
$mono-font-weight: normal;

$heading-font-family: 'Modern Love', 'Amatic SC', 'Short Stack', cursive;
$title-size: 225%;
$subtitle-size: 100%;
$heading-sizes: 200%, 175%, 150%, 140%, 130%, 120%;
$heading-margin-top: 2rem, 1.75rem, 1.5rem, 1.4rem, 1.3rem, 1.2rem;
$heading-rule-widths: 5px 2px;

$line-height: 1.3;
$small-font-size: 80%;
$supsub-font-size: 75%;

$content-spacing: 1rem;
$content-sub-spacing: 0.5rem;
$base-border-width: 1px;

$blockquote-padding: 1rem 2rem;
$pre-padding: 1rem;
$border-radius: 4px;
$hr-margin: 2rem 0;

$list-indent: 2rem;
$dd-indent: 2rem;
$dl-font-weight: bolder;
$th-font-weight: bolder;

$table-caption-side: bottom;
$table-border-width: $base-border-width;
$thead-tbody-border-width: 2 * $base-border-width;
$table-cell-padding: 0.5rem;

$heading-rule-ypos: 0.5rem;



// Layout settings
// =============================================================================

$screen-margin: 3rem;
$print-margin: 2cm;

$page-header-margin: 1cm 0 0.5cm;
$page-footer-margin: 0.5cm 0 1cm;
$header-rule-padding: 0.2cm;
$footer-rule-padding: 0.2cm;

$screen-max-width: 900px;